body
  font-size 14px
  margin 0px
  line-height 19px
  font-family 'Roboto', helvetica, arial, sans-serif
  *,
  *:before,
  *:after
    box-sizing border-box
  a
    color ColorLink
    text-decoration underline
    &:active
    &:focus
      text-decoration none
  .leaflet-control-zoom a
    text-decoration none
    color #333
  .leaflet-control-attribution a
    color #003366

  .fallback
    position absolute
    top 0px
    left 0px
    width 100%
    height 600px
    background white
    z-index 10

    div
      margin 270px 40px 0px 40px
      text-align center
      padding 20px 10px
      border 1px dotted #aaa
  #mapa
    position relative
    max-height 500px
    max-width 1000px
  
  #infobox
    border-radius 10px
    position absolute
    padding 10px
    width auto
    max-width 300px
    height auto
    background-color white
    border 1px solid #bdbdbd
    font-size 14px

    .infotitle
      margin-top 0px
